.card {
  width: 360px;
  min-height: 697px;
  box-shadow: 0 21px 49px 1px rgba(41, 44, 61, 0.15);
  border-radius: 2px 2px 0 0;
  background-color: #ffffff;
  @include phablet {
    &:nth-child(3) {
      display: none;
    }
  }
  @include tablet {
    width: 300px;
  }
  @include tablet-portrait {
    min-height: 525px;
  }
  @include phone {
    width: 280px;
  }
  &__round {
    position: relative;
    width: 320px;
    height: 95px;
    overflow: hidden;
    &:before {
      content: "";
      position: relative;
      display: block;
      top: -226px;
      left: 38px;
      width: 285px;
      height: 320px;
      border-radius: 0 0 100% 100%;
      background: $main-color;
      @include tablet {
        left: 10px;
      }
      @include phone {
        width: 280px;
        left: -3px;
      }
    }
  }
  &__cost {
    position: relative;
    bottom: 67px;
    left: 128px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 23px;
    letter-spacing: 1.16px;
    font-weight: 700;
    line-height: 20.33px;
    @include tablet {
      left: 100px;
    }
    @include phone {
      left: 90px;
    }
    &__numbers {
      font-size: 33px;
      letter-spacing: 1.68px;
    }
    &__mo {
      font-size: 16px;
      letter-spacing: 0.82px;
    }
  }
  &__img {
    display: block;
    width: 157px;
    height: 123px;
    margin-top: -7px;
    margin-left: 98px;
    transition: 0.4s all;
    background: url("../icons/pay/pay_1.png") center (center / cover) no-repeat;
    &:hover {
      background: url("../icons/pay/pay_hover.png") center (center / cover)
        no-repeat;
    }
    @include phone {
      margin-left: 70px;
      &:hover {
        background: url("../icons/pay/pay_1.png") center (center / cover)
          no-repeat;
      }
    }
  }
  &__img_2 {
    width: 135px;
    height: 107px;
    margin-top: 8px;
    margin-left: 111px;
    background: url("../icons/pay/pay_2.png") center (center / cover) no-repeat;
    @include tablet-portrait {
      margin-top: -10px;
    }
    @include phone {
      margin-left: 70px;
    }
  }
  &__img_3 {
    width: 126px;
    height: 100px;
    margin-top: 16px;
    margin-left: 111px;
    background: url("../icons/pay/pay_3.png") center (center / cover) no-repeat;
    @include tablet-portrait {
      margin-top: -10px;
    }
    @include phone {
      margin-left: 70px;
    }
  }
  &__title {
    margin-left: 49px;
    margin-top: 32px;
    color: $main-color;
    font-family: "Roboto";
    font-size: 31px;
    font-weight: 700;
    line-height: 50.81px;
    @include tablet-portrait {
      margin-top: 10px;
    }
  }
  &__descr {
    margin: 14px 43px 0 49px;
    color: #4a6385;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    @include tablet-portrait {
      display: none;
    }
  }
  &__ul {
    margin-top: 45px;
    margin-left: 49px;
    padding: 0px 0 0 19px;
    list-style: none;
    color: #4a6385;
    font-family: "Lato";
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.4px;
    @include tablet-portrait {
      margin-top: 15px;
    }
    li {
      span {
        position: relative;
        right: 19px;
        top: 1px;
      }
    }
  }
  &__btn {
    margin-top: 47px;
    width: 360px;
    height: 60px;
    border-radius: 0 0 2px 2px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    line-height: 20.33px;
    letter-spacing: 0.88px;
    transition: 0.4s all;
    &:hover {
      background-color: rgb(255, 139, 6);
    }
    @include tablet {
      width: 300px;
      margin-top: 25px;
    }
    @include phone {
      width: 280px;
    }
    @include tablet-portrait {
      &:hover {
        background-color: $main-color;
      }
    }
  }
}
