.header {
    height: 47px;
    background-color: #2f3f54;

    span {
        opacity: 0.3;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        padding-top: 14px;
        color: $text-color;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 300;

        &__wrapper {
            display: flex;
        }

        &__question {
            opacity: 0.3;
            margin-right: 49px;
            letter-spacing: -0.1px;
        }

        &__leftlink {
            margin-right: 46px;
            text-decoration: none;
            opacity: 0.3;
            color: $text-color;

            &:hover {
                text-decoration: none;
                color: $text-color;
            }
        }

        &__link {
            margin-left: 20px;
            text-decoration: none;
            opacity: 0.3;
            color: $text-color;

            &:nth-child(1) {

                &::after {
                    content: '';
                    display: block;
                    position: relative;
                    bottom: 16px;
                    right: 22px;
                    width: 14px;
                    height: 12px;
                    background: url('../icons/head_usa.png') center (center / cover) no-repeat;
                }
            }

            &:hover {
                text-decoration: none;
                color: $text-color;
            }
        }
    }
}

.icon-envelope {
    font-size: 19px;
    position: relative;
    right: 3px;
    top: 2px;
}

.icon-phone-call {
    font-size: 17px;
    position: relative;
    top: 3px;
    right: 3px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 86px;
    background-color: $text-color;

    &__item_logo {
        flex-grow: 5;
    }

    

    &__link {
        margin-left: 41px;
        color: $text-color2;
        font-family: "OpenSans";
        font-size: 14px;
        line-height: 87px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
            color: rgb(255, 139, 6);
        }
    }
}

.nav_fixed {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;

    .menu {
        padding: 0 50px;
        background-color: rgba(255, 255, 255, 0.815);
        height: 60px;
        border-radius: 0 0 7px 7px;

        &__homelink {

            &:hover {
                color: rgb(255, 139, 6);
            }
        }

        &__link {
            @include tablet {
                margin-left: 30px;
            }

            &:hover {
                color: rgb(255, 139, 6);
            }
        }
    }
}