.header {
    height: 47px;
    background-color: #2f3f54;

    span {
        opacity: 0.3;
    }

    &__menu {
        padding-top: 14px;
        color: $text-color;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 300;

        &__wrapper {
            display: flex;
        }

        &__question {
            opacity: 0.3;
            margin-right: 71px;
        }

        &__leftlink {
            margin-right: 63px;
            text-decoration: none;
            opacity: 0.3;
            color: $text-color;

            &:hover {
                text-decoration: none;
                color: $text-color;
            }
        }

        &__link {
            margin-left: 20px;
            text-decoration: none;
            opacity: 0.3;
            color: $text-color;

            &:nth-child(1) {

                &::before {
                    content: '';
                    position: absolute;
                    top: 4px;
                    right: 220px;
                    width: 16px;
                    height: 14px;
                    background: url('../icons/head_usa.png') center (center / cover) no-repeat;
                }
            }

            &:hover {
                text-decoration: none;
                color: $text-color;
            }
        }
    }
}

.icon-envelope {
    font-size: 19px;
    position: absolute;
    left: 167px;
    top: 2px;
}

.icon-phone-call {
    font-size: 17px;
    position: absolute;
    top: 3px;
    left: 357px;
}

.menu {
    padding: 0 0 0 45px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 86px;
    background-color: $text-color;

    &__item_logo {
        flex-grow: 5;
    }

    &__homelink {
        color: $text-color2;
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;

        &:before {
            content: '';
            position: absolute;
            left: 63px;
            top: 71px;
            width: 36px;
            height: 41px;
            background: url('../icons/main_logo.png') center (center / cover) no-repeat;
        }

        &:hover {
            text-decoration: none;
            color: rgb(255, 139, 6);
        }
    }

    &__link {
        margin-left: 41px;
        color: $text-color2;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 87px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
            color: rgb(255, 139, 6);
        }
    }
}

.nav_fixed {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;

    .menu {
        padding: 0 45px 0 95px;
        background-color: rgba(255, 255, 255, 0.815);
        height: 60px;
        border-radius: 0 0 7px 7px;

        &__homelink {
            &:before {
                top: 10px;
                left: 113px;
            }

            &:hover {
                color: rgb(255, 139, 6);
            }
        }

        &__link {
            &:hover {
                color: rgb(255, 139, 6);
            }
        }
    }
}