.rights {
  min-height: 59px;
  background-color: #4a6385;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include tablet-portrait {
      min-height: 95px;
      flex-direction: column;
      align-items: center;
      padding-bottom: 25px;
    }
  }
  &__reserved {
    margin-left: -2px;
    margin-top: 19px;
    color: #718db2;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
  }
  &__links {
    margin-top: 20px;
    font-family: "Lato";
    font-size: 13px;
    font-weight: 400;
    a {
      margin-left: 11px;
      color: #718db2;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
